.App{
  min-height: 100vh;
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cmVjaXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
}

.search-form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  color: rgb(252, 252, 252);
  ;
}
.search-bar{
  /* width: 50%;
  border: none;
  padding: 10px; */
  border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #f8f2f275;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: 40%;
}

.search-button{
  /* background:rgb(97, 96, 96); */
/*   
  border: 1px ;
  padding: 10px 20px;
  color: rgb(216, 216, 216); */
  margin: 0.5em;
    color:white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 60px;
    outline: none;
    background: #f8f2f275;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.search-button:hover{
  background: #7c7c7c6b;
  border: none;
  border-radius: 50%;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


